<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0"/>
	<title>后端管理系统</title>
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous" />
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdn.bootcss.com/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


<body>

<div class="container">
	<div class="row">
		<div class="col-sm-2">首页</div>
		<div class="col-sm-3">批改作业</div>
		<div class="col-sm-3">我的作业</div>
		<div class="col-sm-3">用户中心</div>
	</div>
	
</div>

<input type="file" name="upload"/>
<input type="submit" value="上传" onclick="logo_load()"/>


</body>


<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">
function logo_load()
{
    if($("#upload").val()=="")
    {
        alert("请先选择上传文件");
        return false;
    }
    alert($("#upload").val());
    // $.post('http://localhost:8080/homework/upload','upload='+$("#upload").val());
    $.ajax(
    	{type:'POST',
           contentType:'multipart/form',
           async: true,
           beforeSend:function(){
                   $("#uploadtd").html("正在上传中");
               },
           url:'/homework/upload',
           data:'file='+$("#upload").val(),
           success:function(msg){
              if(msg==0)
              {
                alert("上传失败");  
                return false;
              }
              else if(msg==1)
              {
                  alert("成功！");                 
              }
              else
              {
                     alert(msg); 
                 }
               }
           });
}

</script>
</html>